<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Moxie</h1>

  <p><a target="blank" href="https://github.com/punkleia" class="github">Michelle</a> built Moxie as an exercize in database and web development using Bootstrap and Ruby on Rails.<br />
  </p>
  <p>
  With it, she collects quotes by larger-than-life figures for two types of people who share underlying courage: <br />
  </p>
  <p>
  <span class="icon">those accepting that sometimes things suck and are taking time to stop, acknowledge, and process those feelings </span><br />
  <span class="icon">those enthused, energetic, and ready to take on new challenges </span>
  </p>
  <p>
  Click through long enough, you'll find something that speaks to you.  If you have wisdom to add, contribute!
  </p>

</div>

<div class="col-xs-12 col-sm-4" style="padding-top:30px;">
  <%= image_tag 'biophoto2.jpg', class: 'img-responsive' %>
</div>

<div class="col-xs-12 col-sm-7 col-sm-offset-1 about">
  <h2 class="text-center">Michelle J. Luby</h2>
  <br />
   <p>
    Michelle will be a web developer and software engineer comfortable in Ruby, Python, JavaScript, CSS, and HTML (among others?).  Currently, she's an avid-reader, aikidoka, and costumer on a Hamilton kick.
  </p>
</div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />
